In [1]:
for i in range(1,10+1):

    for j in range(1,10+1):
        print(f"{i * j:3}",end=" ")
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90
 10  20  30  40  50  60  70  80  90 100

In [5]:
# Question 1
# Right-Angled Triangle
n = 5
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()  # Move to the next line

*
* *
* * *
* * * *
* * * * *

In [6]:
# Question 2
# Inverted Right-Angled Triangle
n = 5

for i in range(n, 0, -1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()  # Move to the next line

* * * * *
* * * *
* * *
* *
*

In [7]:
# Question 3
n=4
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [8]:
#question 10
a=int(input())
fact = 1
for i in range (1,a+1):
    fact*=i
print(fact)

 23

25852016738884976640000

In [11]:
n = int(input())
sum = 0
for i in range(2, n+1,2):
    sum += i
print(sum)

 10

30

In [12]:
n = int(input())
for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

 50

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [13]:
string = input()
vowels = "aeiouAEIOU"
count = 0
for char in string:
    if char in vowels:
        count += 1
print(count)

 d

0

In [15]:
string = input()
reversed_string = ""
for char in string: 
    reversed_string = char + reversed_string
print(reversed_string)

 boo

oob

In [16]:
string = input()
for i in range(len(string)):
    for j in range(i + 1, len(string) + 1):
        print(string[i:j])

 kavi

k
ka
kav
kavi
a
av
avi
v
vi
i

In [19]:
n = int(input("Enter the value of n: "))
for i in range(1, n+1):
    for j in range(1, n+1):
        print(i*j, end=" ")
    print()

Enter the value of n:  6

1 2 3 4 5 6
2 4 6 8 10 12
3 6 9 12 15 18
4 8 12 16 20 24
5 10 15 20 25 30
6 12 18 24 30 36

In [20]:
n = int(input("Enter the value of n: "))
num = 1
for i in range(n):
    for j in range(n):
        print(num, end=" ")
        num += 1
    print()

Enter the value of n:  5

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [21]:
n = int(input())
sum = 0
for i in range(2, n+1,2):
    sum += i
print(sum) #1

 9

20

In [22]:
n=int(input("no. of rows"))
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

no. of rows 4

*
* *
* * *
* * * *

In [23]:
for i in range(1,4):
    for j in range (1,4-i):
        print(end=" ")
    for j in range(1,i+1):
      print("*", end=" ")
    print()
for i in range(1,4):
    for j in range (1,i+1):
        print(end=" ")
    for j in range(1,4-i):
      print("*", end=" ")
    print()

  *
 * *
* * *
 * *
  *

In [37]:
for i in range(5):
    for j in range (5):
       if(i==0 or i==4 or j==0 or j==4):
         print("*",end="")
       else:
        print(" ",end="")
    print()

*****
*   *
*   *
*   *
*****

In [38]:
string = input()
char_frequency = {}
for char in string:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1
for char, freq in char_frequency.items():
    print(f"{char}: {freq}")

 bhumi

b: 1
h: 1
u: 1
m: 1
i: 1

In [2]:
n = int(input())
for i in range(n):
    value = 1
    for j in range(n - i - 1):
        print(" ", end="")
    for j in range(i + 1):
        print(value, end=" ")
        value = value * (i - j) // (j + 1)
    print()

 5

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1